---
import { union } from "astro:schema";
import BaseLayout from "../../layouts/BaseLayout.astro";

export function getStaticPaths(){
    const allPosts = Object.values(import.meta.glob('../blog/posts/*.md',{eager:true}))
    const uniqueTags = [...new Set(allPosts.map((post:any) => post.frontmatter.tags).flat())]
    
    return uniqueTags.map((tag:any) => {
        const filterPosts = allPosts.filter((post:any)=>post.frontmatter.tags.includes(tag))
        return {
            params: {
                tag: tag
            },
            props: {
                posts: filterPosts
            }
        }
    })

    // return [
    //     {
    //         params: {
    //             tag: '運動'
    //         }
    //     },
    //     {
    //         params: {
    //             tag: '娛樂'
    //         }
    //     },
    //     {
    //         params: {
    //             tag: 'test'
    //         }
    //     }
    // ]
}

const {tag} = Astro.params
const {posts} = Astro.props

---
<BaseLayout>
    <div>{tag}</div>
    <div>
        {
            posts.map((post:any) => <div>{post.frontmatter.title}</div>)
        }
    </div>
</BaseLayout>