---
import BaseLayout from "../layouts/BaseLayout.astro"
const allPosts = Object.values(import.meta.glob('./blog/posts/*.md',{eager:true}))

const tags = allPosts.map((post:any) => post.frontmatter.tags).flat()
const uniqueTags = new Set(tags)
const uniqueTagsArray = [...new Set(tags)]
---
<BaseLayout>
	<div>
		{
			uniqueTagsArray
		}
	</div>
	<div>
		{
			uniqueTags
		}
	</div>
</BaseLayout>
<script>
	const a = [
		['運動','台灣大賽','棒球'],
		['運動','佐佐木朗希','道奇','棒球']
	]
	console.log(a)
	console.log(a.flat())
	console.log(new Set(a.flat()))
	console.log([...new Set(a.flat())])
</script>