---
---
<div class="flex flex-col items-start gap-4">
    <div>
        <img src="https://picsum.photos/id/40/400/300" alt="" class="w-full h-full object-cover aspect-video rounded-xl">
    </div>
    <h3 class="text-2xl font-bold">title 123</h3>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem cumque repellendus dignissimos repudiandae at voluptatem consequatur ullam alias esse magni.
    </p>
    <a href="#" class="text-sm px-5 py-2 bg-indigo-500 text-indigo-50 rounded">繼續閱讀</a>
</div>