<nav class="mb-5 w-full bg-violet-900 flex justify-center gap-4 py-5 *:text-yellow-300 *:font-bold">
    <a href="/">首頁</a>
    <a href="/about">關於</a>
    <a href="/">文章</a>
    <a href="/contact">聯絡我</a>
</nav>